.login-content {

    .login-label {
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: .25px;
        display: block;
        margin-bottom: 8px;
        color: #22252b;
    }

    input {
        border: 1px solid grey;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        outline: none;
        height: 48px;
        width: 100%;
        text-align: center;
        
        &:focus {
            border: 2px solid rgb(173, 152, 28);
        }

        &.input-error {
            border: 2px solid red;
        }
    }
}

.login-email {
    .login-email-remark {
        color: rgb(0, 102, 255);
        font-size: 12px;
        line-height: 16px;
        margin-top: 4px;
        cursor: pointer;
    }
}

.login-password {
    margin-top: 20px;

    .login-label-remark {
        color: grey;
        cursor: pointer;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 8px;
    }
}

.login-button {
    width: 100%;
    margin-top: 20px;

    .login-button-text {
        display: inline-block;
        cursor: pointer;
        font-weight: 400;
        text-align: center;
        box-sizing: border-box;
        will-change: background-color, transform;
        -webkit-tap-highlight-color: transparent;
        color: white;
        height: 48px;
        min-width: 160px;
        border-radius: 32px;
        transition: all .2s cubic-bezier(.2, .91, .85, .96) 0s;
        text-decoration: none;
        background-color: pink;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        outline: none;
        padding: 0 24px;

        &.enable-button {
            background-color: #df4b52;

            &:hover {
                background-color: red;
            }
        }
    }
}
