.login-title {
    width: 100%;
    margin-top: 40%;

    .login-header-title {
        font-size: 32px;
        font-weight: 500;
        line-height: 32px;
    }

    .login-sub-title {
        color: grey;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
    }
}

@media only screen and (min-width: 720px) {
    .login-title {
        margin-top: 20%;
    }
}

@media only screen and (min-width: 1080px) {
    .login-title {
        margin-top: 10%;
    }
}
