.login {
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;

    .login-tips {
        color: red;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 16px;
    }
}
