.login{
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.login-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    color: rgb(34, 37, 43);
    text-align: left;
    margin-top: 80px;
}

.login-sub-title {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.125px;
    color: rgb(34, 37, 43);
    text-align: left;
}

.content-align-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.login-email-remark {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-decoration-skip-ink: auto;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    color: rgb(39, 110, 229);
    background: none;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    transition: color 0.2s cubic-bezier(0.2, 0.91, 0.85, 0.96) 0s, text-decoration;
    text-decoration: underline transparent;
}

.login-error-msg {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-decoration-skip-ink: auto;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    color: rgb(229, 39, 39);
    background: none;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    transition: color 0.2s cubic-bezier(0.2, 0.91, 0.85, 0.96) 0s, text-decoration;
    text-decoration: underline transparent;
}